{# section_id, section_title, section_desc (optional), section_icon (optional) #}
<header class="settings-form-section__header">
    <div class="settings-form-section__header-main">
        {% if section_icon %}
        {% set settings_icon = section_icon %}
        {% set settings_icon_variant = 'section-header' %}
        {% set settings_icon_id = section_id %}
        {% set settings_icon_class = '' %}
        {% include 'partials/settings/icon.html' %}
        {% endif %}
        <div>
            <h2 class="settings-form-section__title">{{ section_title }}</h2>
            {% if section_desc %}
            <p class="settings-form-section__desc">{{ section_desc }}</p>
            {% endif %}
        </div>
    </div>
</header>
